@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container body-content">
        <img src="https://media.giphy.com/media/ZvLaZbu1RkfFVS83GF/giphy.gif" alt="coolCatz" width="1000" class="center">
        <p style="text-align: right;">

            <h2>Looking to spice up your Virtual profile by Adding a Virtual Business Card?</h2>

            <em>CoolCatz Virtual Business Cards will help you look and feel more professional!</em>

        </p>
    </div>

</div>